<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Product</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    <%= for client <- @total_sell_by_client do %>
      <tr>
        <td>
          <%= elem(client, 0) %>
        </td>
        <td>
          <%= elem(client, 1) %>
        </td>
      </tr>

    <% end %>
  </tbody>
</table>
