<h2>Show Client</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @client.name %>
  </li>

  <li>
    <strong>User type:</strong>
    <%= @client.user_type %>
  </li>

</ul>

<span><%= link "Edit", to: client_path(@conn, :edit, @client) %></span>
<span><%= link "Back", to: client_path(@conn, :index) %></span>
